/* ========== HERO MOBILE ========== */
.hero-section {
    background-image:
        linear-gradient(90deg,
            rgba(0, 0, 0, 0.48) 0%,
            rgba(255, 255, 255, 0) 100%),
        url("/img/hero/hero-image-mobile.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 64px 20px 115px 20px;
    margin: 0 auto;
    height: auto;
}

/* Retina MOBILE */
@media (min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-section {
        background-image:
            linear-gradient(90deg,
                rgba(0, 0, 0, 0.48) 0%,
                rgba(255, 255, 255, 0) 100%),
            url("/img/hero/hero-image-mobile@2x-min.jpg");
    }
}

/* ========== HERO TEXT ========== */
.hero-title {
    font-size: 40px;
    letter-spacing: -0.01em;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 24px;
}

.hero-text {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 32px;
}

.hero-button {
    border-radius: 8px;
    padding: 12px 24px;
    width: 171px;
    height: 45px;
    font-size: 14px;
    line-height: 1.5;
    background: #88765c;
    color: #fff;
    transition: border 0.2s ease, box-shadow 0.2s ease, background 0.2s ease, color 0.2s ease;
}

.hero-button:hover,
.hero-button:focus {
    border: 1px solid #88765c;
    background: #eee9e3;
    color: #02060a;
}

.hero-button:active {
    border: 1px solid #88765c;
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
        inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
    background: #eee9e3;
    color: #02060a;
}

.hero-button:disabled {
    border: 1px solid #88765c;
    background: #88765c;
    opacity: 0.3;
    color: #fff;
}

/* ========== HERO TABLET ========== */
@media only screen and (min-width: 768px) {
    .hero-section {
        background-image:
            linear-gradient(90deg,
                rgba(0, 0, 0, 0.48) 0%,
                rgba(255, 255, 255, 0) 100%),
            url("/img/hero/hero-image-tablet.jpg");

        padding: 64px 114px 235px 32px;
    }

    .hero-title {
        font-size: 40px;
    }

    .hero-text {
        font-size: 16px;
        width: 512px;
    }
}

/* Retina TABLET */
@media only screen and (min-width: 768px) and (min-resolution: 192dpi),
only screen and (min-width: 768px) and (min-resolution: 2dppx) {
    .hero-section {
        background-image:
            linear-gradient(90deg,
                rgba(0, 0, 0, 0.48) 0%,
                rgba(255, 255, 255, 0) 100%),
            url("/img/hero/hero-image-tablet@2x-min.jpg");
    }
}

/* ========== HERO DESKTOP ========== */
@media only screen and (min-width: 1440px) {
    .hero-section {
        background-image:
            linear-gradient(90deg,
                rgba(0, 0, 0, 0.48) 0%,
                rgba(255, 255, 255, 0) 100%),
            url("/img/hero/hero-image-desktop.jpg");

        padding: 128px 754px 413px 64px;
    }

    .hero-title {
        font-size: 56px;
    }

    .hero-text {
        font-size: 18px;
    }

    .hero-button {
        width: 189px;
        height: 48px;
        font-size: 16px;
    }
}

/* Retina DESKTOP */
@media only screen and (min-width: 1440px) and (min-resolution: 192dpi),
only screen and (min-width: 1440px) and (min-resolution: 2dppx) {
    .hero-section {
        background-image:
            linear-gradient(90deg,
                rgba(0, 0, 0, 0.48) 0%,
                rgba(255, 255, 255, 0) 100%),
            url("/img/hero/hero-image-desktop@2x-min.jpg");
    }
}
